.review-section {
  width: 100%;
  padding-inline: var(--page-padding-x);
}

.review-container {
  display: flex;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
  gap: 80px;
  overflow: hidden;
}

.review-left {
  width: 50%;
  position: sticky;
  padding-top: var(--page-padding-y);
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
}

.big-quote {
  width: 40px;
  margin-bottom: 16px;
}

.highlight {
  color: var(--secondary-green-color);
}

.review-right {
  width: 50%;
  position: relative;
  height: 500px;
}

.card-column {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
}

/* Card */
.review-card {
  width: clamp(300px, 40vw, 520px);
  max-width: 520px;
  height: 256px;
  padding: 20px 24px;
  border-left: 3px solid var(--secondary-green-color);
  border-radius: 10px;
  box-shadow: 2px 3px 10px #999898;
  background: linear-gradient(to right, #eef1f3 0%, #e6eff8 50%, #d5e6f7 100%);
  cursor: pointer;
  transition: all 0.5s;
}

.review-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 10px 10px #999898;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  gap: 8px;
}

.description {
  margin-top: 16px;
  font-size: 18px;
}

.footer {
  margin-top: 20px;
}

.name {
  font-weight: 600;
  color: var(--heading-color);
}

.job {
  color: var(--subheading-color);
}

.text-br {
  display: block;
}

.review-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #aaa;
  border: none;
  transition: transform 0.3s, background 0.3s;
}

.dot.active {
  background: var(--secondary-green-color);
  transform: scale(1.4);
}


@media (max-width: 900px) {
  .review-container {
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    padding-bottom: var(--page-padding-y);
  }

  .review-left {
    width: 100%;
    position: static;
    padding-top: var(--page-padding-y);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    top: 0;
  }

  .review-right {
    width: 100%;
  }
   .card-column {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  .card-column::-webkit-scrollbar {
    display: none;
  }
  .card-column {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden; 
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.review-right{
  height: auto;
}
  .review-card {
    width: 350px;
    min-width: 350px;
  }

  .text-br {
    display: none;
  }
}
